.layer-content {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
.filter-title-container {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.filter-container {
	z-index: 1000;
	padding: 3px;
	max-width: 300px;
	max-height: 300px;
	overflow-y: auto;
}

.filter-item {
	margin-bottom: 9px;
	padding: 3px;
	border: 2px solid #eee;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 14px;
	color: #333;
}
.filter-item:hover {
	background-color: #f8f8f8;
}

.filter-item.selected {
	border-color: #6dacee;
	background-color: #e6f2ff;
}
.section-divider {
	margin: 0px 10px 10px 10px;
	height: 1.5px;
	background-color: #7e7e7e;
}
