.menu-title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.menu-item {
	margin-bottom: 15px;
}

.menu-item label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.menu-item select,
.menu-item input[type="checkbox"] {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.basic-multi-select .select__menu {
	z-index: 1001;
}
.queryFeaturesButton{
	height: 30px;
	margin: 5px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.queryFeaturesButton:hover{
	background-color: #f3f3f3;
	cursor: pointer;
}
